<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>MEMBER SQL</comment>
	<entry key="A">B</entry>
	<entry key = "save">
		INSERT
		  INTO
		  	   CUSTOMER
		VALUES
			   (
			   ?
			 , ?
			 , ?
			 , ?
			 , SYSDATE
			   )
	</entry>
	
	<entry key = "findAll">
		SELECT
			   CUSTOMER_ID
			 , NAME
			 , EMAIL
			 , PHONE
			 , CREATED_AT
		  FROM 
		       CUSTOMER
	</entry>
</properties>
