<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>PRODUCT SQL</comment>

	<entry key="A">
		B
	</entry>
	
	<entry key="findAll">
	  SELECT
             PRODUCT_ID
           , NAME
           , CATEGORY
           , PRICE
           , STOCK
        FROM
             PRODUCT
       WHERE
             IS_DELETED = 'N'
       ORDER
          BY
             PRODUCT_ID DESC
	</entry>
	
	<entry key="findByName">
	    SELECT
               PRODUCT_ID
             , NAME
             , CATEGORY
             , PRICE
             , STOCK
          FROM 
               PRODUCT
         WHERE
               NAME = ?
           AND
               IS_DELETED = 'N'
	</entry>
	
	<entry key="save">
	INSERT
	  INTO
		   PRODUCT
	VALUES
		   (
		   ?
		 , ?
		 , ?
		 , ?
		 , ?
		 , DEFAULT
		   ) 
	</entry>
	
	<entry key="updatePrice">
	  UPDATE
             PRODUCT
         SET
             PRICE = ?
       WHERE
             PRODUCT_ID = ?
         AND
             NAME = ?
	</entry>
	
	<entry key="updateStock">
	  UPDATE
             PRODUCT
         SET
             STOCK = ?
       WHERE
             PRODUCT_ID = ?
         AND
             NAME = ?
	</entry>
	
	
	<entry key="delete">
	  UPDATE
             PRODUCT
         SET
         	 IS_DELETED = 'Y'
       WHERE
             PRODUCT_ID = ?
         AND
             NAME = ?
	</entry>
</properties>
